@media screen and (min-width: 1px) and (max-width: 768px) {
  .sz80S {
    font-size: 80px;
  }
  .sz36S {
    font-size: 36px;
  }
  .sz32S {
    font-size: 32px;
  }
  .sz28S {
    font-size: 28px;
  }
  .sz18S {
    font-size: 18px;
  }
  .sz16S {
    font-size: 16px;
  }
  .sz14S {
    font-size: 14px;
  }
  .sz12S {
    font-size: 12px;
  }
  .sz48S {
    font-size: 48px;
  }
  .span1S {
    grid-column: 1/span 1;
  }
  .span2S {
    grid-column: 1/span 2;
  }
  .span3S {
    grid-column: 1/span 3;
  }
  .span4S {
    grid-column: 1/span 4;
  }
  .span5S {
    grid-column: 1/span 5;
  }
  .span6S {
    grid-column: 1/span 6;
  }
  .span7S {
    grid-column: 1/span 7;
  }
  .span8S {
    grid-column: 1/span 8;
  }
  .span9S {
    grid-column: 1/span 9;
  }
  .span10S {
    grid-column: 1/span 10;
  }
  .span11S {
    grid-column: 1/span 11;
  }
  .span12S {
    grid-column: 1/span 12;
  }
  .gridStart1S {
    grid-column-start: 1;
  }
  .gridStart2S {
    grid-column-start: 2;
  }
  .gridStart3S {
    grid-column-start: 3;
  }
  .gridStart4S {
    grid-column-start: 4;
  }
  .gridStart5S {
    grid-column-start: 5;
  }
  .gridStart6S {
    grid-column-start: 6;
  }
  .gridStart7S {
    grid-column-start: 7;
  }
  .gridStart8S {
    grid-column-start: 8;
  }
  .gridStart9S {
    grid-column-start: 9;
  }
  .gridStart10S {
    grid-column-start: 10;
  }
  .gridStart11S {
    grid-column-start: 11;
  }
  .gridStart12S {
    grid-column-start: 12;
  }
  .absoluteSpan1S {
    grid-column: span 1;
  }
  .absoluteSpan2S {
    grid-column: span 2;
  }
  .absoluteSpan3S {
    grid-column: span 3;
  }
  .absoluteSpan4S {
    grid-column: span 4;
  }
  .absoluteSpan5S {
    grid-column: span 5;
  }
  .absoluteSpan6S {
    grid-column: span 6;
  }
  .absoluteSpan7S {
    grid-column: span 7;
  }
  .absoluteSpan8S {
    grid-column: span 8;
  }
  .absoluteSpan9S {
    grid-column: span 9;
  }
  .absoluteSpan10S {
    grid-column: span 10;
  }
  .absoluteSpan11S {
    grid-column: span 11;
  }
  .absoluteSpan12S {
    grid-column: span 12;
  }
  .rowSpan1S {
    grid-row: span 1;
  }
  .rowSpan2S {
    grid-row: span 2;
  }
  .gridRows1S {
    grid-template-rows: repeat(1, 1fr);
  }
  .gridRows2S {
    grid-template-rows: repeat(2, 1fr);
  }
  .gridRows3S {
    grid-template-rows: repeat(3, 1fr);
  }
  .gridRows4S {
    grid-template-rows: repeat(4, 1fr);
  }
  .mt1S {
    margin-top: 0.5rem !important;
  }
  .mt2S {
    margin-top: 1rem !important;
  }
  .mt3S {
    margin-top: 1.5rem !important;
  }
  .mt4S {
    margin-top: 2rem !important;
  }
  .mt5S {
    margin-top: 2.5rem !important;
  }
  .mt6S {
    margin-top: 3rem !important;
  }
  .mtL1S {
    margin-top: 30px;
  }
  .mtL2S {
    margin-top: 60px;
  }
  .mtL3S {
    margin-top: 90px;
  }
  .mtL4S {
    margin-top: 120px;
  }
  .mtL5S {
    margin-top: 150px;
  }
  .mtL6S {
    margin-top: 180px;
  }
  .flexRowS {
    display: flex;
    flex-direction: row;
  }
  .flexColumnS {
    display: flex;
    flex-direction: column;
  }
  .noneS {
    display: none !important;
  }
  .width100S {
    width: 100% !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .sz80M {
    font-size: 80px;
  }
  .sz36M {
    font-size: 36px;
  }
  .sz32M {
    font-size: 32px;
  }
  .sz28M {
    font-size: 28px;
  }
  .sz18M {
    font-size: 18px;
  }
  .sz16M {
    font-size: 16px;
  }
  .sz14M {
    font-size: 14px;
  }
  .sz12M {
    font-size: 12px;
  }
  .sz48M {
    font-size: 48px;
  }
  .span1M {
    grid-column: 1/span 1;
  }
  .span2M {
    grid-column: 1/span 2;
  }
  .span3M {
    grid-column: 1/span 3;
  }
  .span4M {
    grid-column: 1/span 4;
  }
  .span5M {
    grid-column: 1/span 5;
  }
  .span6M {
    grid-column: 1/span 6;
  }
  .span7M {
    grid-column: 1/span 7;
  }
  .span8M {
    grid-column: 1/span 8;
  }
  .span9M {
    grid-column: 1/span 9;
  }
  .span10M {
    grid-column: 1/span 10;
  }
  .span11M {
    grid-column: 1/span 11;
  }
  .span12M {
    grid-column: 1/span 12;
  }
  .gridStart1M {
    grid-column-start: 1;
  }
  .gridStart2M {
    grid-column-start: 2;
  }
  .gridStart3M {
    grid-column-start: 3;
  }
  .gridStart4M {
    grid-column-start: 4;
  }
  .gridStart5M {
    grid-column-start: 5;
  }
  .gridStart6M {
    grid-column-start: 6;
  }
  .gridStart7M {
    grid-column-start: 7;
  }
  .gridStart8M {
    grid-column-start: 8;
  }
  .gridStart9M {
    grid-column-start: 9;
  }
  .gridStart10M {
    grid-column-start: 10;
  }
  .gridStart11M {
    grid-column-start: 11;
  }
  .gridStart12M {
    grid-column-start: 12;
  }
  .absoluteSpan1M {
    grid-column: span 1;
  }
  .absoluteSpan2M {
    grid-column: span 2;
  }
  .absoluteSpan3M {
    grid-column: span 3;
  }
  .absoluteSpan4M {
    grid-column: span 4;
  }
  .absoluteSpan5M {
    grid-column: span 5;
  }
  .absoluteSpan6M {
    grid-column: span 6;
  }
  .absoluteSpan7M {
    grid-column: span 7;
  }
  .absoluteSpan8M {
    grid-column: span 8;
  }
  .absoluteSpan9M {
    grid-column: span 9;
  }
  .absoluteSpan10M {
    grid-column: span 10;
  }
  .absoluteSpan11M {
    grid-column: span 11;
  }
  .absoluteSpan12M {
    grid-column: span 12;
  }
  .rowSpan1M {
    grid-row: span 1;
  }
  .rowSpan2M {
    grid-row: span 2;
  }
  .gridRows1M {
    grid-template-rows: repeat(1, 1fr);
  }
  .gridRows2M {
    grid-template-rows: repeat(2, 1fr);
  }
  .gridRows3M {
    grid-template-rows: repeat(3, 1fr);
  }
  .gridRows4M {
    grid-template-rows: repeat(4, 1fr);
  }
  .mt1M {
    margin-top: 0.5rem !important;
  }
  .mt2M {
    margin-top: 1rem !important;
  }
  .mt3M {
    margin-top: 1.5rem !important;
  }
  .mt4M {
    margin-top: 2rem !important;
  }
  .mt5M {
    margin-top: 2.5rem !important;
  }
  .mt6M {
    margin-top: 3rem !important;
  }
  .mtL1M {
    margin-top: 30px;
  }
  .mtL2M {
    margin-top: 60px;
  }
  .mtL3M {
    margin-top: 90px;
  }
  .mtL4M {
    margin-top: 120px;
  }
  .mtL5M {
    margin-top: 150px;
  }
  .mtL6M {
    margin-top: 180px;
  }
  .flexRowM {
    display: flex;
    flex-direction: row;
  }
  .flexColumnM {
    display: flex;
    flex-direction: column;
  }
  .noneM {
    display: none !important;
  }
  .width100M {
    width: 100% !important;
  }
}
@media screen and (min-width: 1025px) and (max-width: 9999px) {
  .sz80ML {
    font-size: 80px;
  }
  .sz36ML {
    font-size: 36px;
  }
  .sz32ML {
    font-size: 32px;
  }
  .sz28ML {
    font-size: 28px;
  }
  .sz18ML {
    font-size: 18px;
  }
  .sz16ML {
    font-size: 16px;
  }
  .sz14ML {
    font-size: 14px;
  }
  .sz12ML {
    font-size: 12px;
  }
  .sz48ML {
    font-size: 48px;
  }
  .span1ML {
    grid-column: 1/span 1;
  }
  .span2ML {
    grid-column: 1/span 2;
  }
  .span3ML {
    grid-column: 1/span 3;
  }
  .span4ML {
    grid-column: 1/span 4;
  }
  .span5ML {
    grid-column: 1/span 5;
  }
  .span6ML {
    grid-column: 1/span 6;
  }
  .span7ML {
    grid-column: 1/span 7;
  }
  .span8ML {
    grid-column: 1/span 8;
  }
  .span9ML {
    grid-column: 1/span 9;
  }
  .span10ML {
    grid-column: 1/span 10;
  }
  .span11ML {
    grid-column: 1/span 11;
  }
  .span12ML {
    grid-column: 1/span 12;
  }
  .gridStart1ML {
    grid-column-start: 1;
  }
  .gridStart2ML {
    grid-column-start: 2;
  }
  .gridStart3ML {
    grid-column-start: 3;
  }
  .gridStart4ML {
    grid-column-start: 4;
  }
  .gridStart5ML {
    grid-column-start: 5;
  }
  .gridStart6ML {
    grid-column-start: 6;
  }
  .gridStart7ML {
    grid-column-start: 7;
  }
  .gridStart8ML {
    grid-column-start: 8;
  }
  .gridStart9ML {
    grid-column-start: 9;
  }
  .gridStart10ML {
    grid-column-start: 10;
  }
  .gridStart11ML {
    grid-column-start: 11;
  }
  .gridStart12ML {
    grid-column-start: 12;
  }
  .absoluteSpan1ML {
    grid-column: span 1;
  }
  .absoluteSpan2ML {
    grid-column: span 2;
  }
  .absoluteSpan3ML {
    grid-column: span 3;
  }
  .absoluteSpan4ML {
    grid-column: span 4;
  }
  .absoluteSpan5ML {
    grid-column: span 5;
  }
  .absoluteSpan6ML {
    grid-column: span 6;
  }
  .absoluteSpan7ML {
    grid-column: span 7;
  }
  .absoluteSpan8ML {
    grid-column: span 8;
  }
  .absoluteSpan9ML {
    grid-column: span 9;
  }
  .absoluteSpan10ML {
    grid-column: span 10;
  }
  .absoluteSpan11ML {
    grid-column: span 11;
  }
  .absoluteSpan12ML {
    grid-column: span 12;
  }
  .rowSpan1ML {
    grid-row: span 1;
  }
  .rowSpan2ML {
    grid-row: span 2;
  }
  .gridRows1ML {
    grid-template-rows: repeat(1, 1fr);
  }
  .gridRows2ML {
    grid-template-rows: repeat(2, 1fr);
  }
  .gridRows3ML {
    grid-template-rows: repeat(3, 1fr);
  }
  .gridRows4ML {
    grid-template-rows: repeat(4, 1fr);
  }
  .mt1ML {
    margin-top: 0.5rem !important;
  }
  .mt2ML {
    margin-top: 1rem !important;
  }
  .mt3ML {
    margin-top: 1.5rem !important;
  }
  .mt4ML {
    margin-top: 2rem !important;
  }
  .mt5ML {
    margin-top: 2.5rem !important;
  }
  .mt6ML {
    margin-top: 3rem !important;
  }
  .mtL1ML {
    margin-top: 30px;
  }
  .mtL2ML {
    margin-top: 60px;
  }
  .mtL3ML {
    margin-top: 90px;
  }
  .mtL4ML {
    margin-top: 120px;
  }
  .mtL5ML {
    margin-top: 150px;
  }
  .mtL6ML {
    margin-top: 180px;
  }
  .flexRowML {
    display: flex;
    flex-direction: row;
  }
  .flexColumnML {
    display: flex;
    flex-direction: column;
  }
  .noneML {
    display: none !important;
  }
  .width100ML {
    width: 100% !important;
  }
}
.standardisedGrid {
  display: grid;
}
@media screen and (min-width: 1px) and (max-width: 768px) {
  .standardisedGrid {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0 25px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .standardisedGrid {
    grid-template-columns: repeat(10, 1fr);
    gap: 30px;
    padding: 0 80px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 9999px) {
  .standardisedGrid {
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    padding: 0 135px;
  }
}

.sz80 {
  font-size: 80px;
}

.sz36 {
  font-size: 36px;
}

.sz32 {
  font-size: 32px;
}

.sz28 {
  font-size: 28px;
}

.sz18 {
  font-size: 18px;
}

.sz16 {
  font-size: 16px;
}

.sz14 {
  font-size: 14px;
}

.sz12 {
  font-size: 12px;
}

.sz48 {
  font-size: 48px;
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .spanRow {
    grid-column: span 4;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .spanRow {
    grid-column: span 10;
  }
}
@media screen and (min-width: 1025px) and (max-width: 9999px) {
  .spanRow {
    grid-column: span 12;
  }
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .spanRowS {
    grid-column: span 4;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .spanRowM {
    grid-column: span 10;
  }
}
@media screen and (min-width: 1025px) and (max-width: 9999px) {
  .spanRowML {
    grid-column: span 12;
  }
}
.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.thinFW {
  font-weight: 300;
}

.normalFW {
  font-weight: 400;
}

.demiboldFW {
  font-weight: 600;
}

.boldFW {
  font-weight: 800;
}

.hoverBgW:hover {
  background-color: #fff;
}

.bgW {
  background-color: #fff;
}

.hoverColorW:hover {
  color: #fff;
}

.colorW {
  color: #fff;
}

.fillW {
  fill: #fff;
}

.borderW {
  border: 2px solid #fff;
}

.hoverBgB:hover {
  background-color: #000;
}

.bgB {
  background-color: #000;
}

.hoverColorB:hover {
  color: #000;
}

.colorB {
  color: #000;
}

.fillB {
  fill: #000;
}

.borderB {
  border: 2px solid #000;
}

.hoverBgTB:hover {
  background-color: rgba(0, 0, 0, 0.3960784314);
}

.bgTB {
  background-color: rgba(0, 0, 0, 0.3960784314);
}

.hoverColorTB:hover {
  color: rgba(0, 0, 0, 0.3960784314);
}

.colorTB {
  color: rgba(0, 0, 0, 0.3960784314);
}

.fillTB {
  fill: rgba(0, 0, 0, 0.3960784314);
}

.borderTB {
  border: 2px solid rgba(0, 0, 0, 0.3960784314);
}

.hoverBgG1:hover {
  background-color: #1AA584;
}

.bgG1 {
  background-color: #1AA584;
}

.hoverColorG1:hover {
  color: #1AA584;
}

.colorG1 {
  color: #1AA584;
}

.fillG1 {
  fill: #1AA584;
}

.borderG1 {
  border: 2px solid #1AA584;
}

.hoverBgG2:hover {
  background-color: #48B79D;
}

.bgG2 {
  background-color: #48B79D;
}

.hoverColorG2:hover {
  color: #48B79D;
}

.colorG2 {
  color: #48B79D;
}

.fillG2 {
  fill: #48B79D;
}

.borderG2 {
  border: 2px solid #48B79D;
}

.hoverBgG3:hover {
  background-color: #DCF8B1;
}

.bgG3 {
  background-color: #DCF8B1;
}

.hoverColorG3:hover {
  color: #DCF8B1;
}

.colorG3 {
  color: #DCF8B1;
}

.fillG3 {
  fill: #DCF8B1;
}

.borderG3 {
  border: 2px solid #DCF8B1;
}

.hoverBgDB:hover {
  background-color: #03110D;
}

.bgDB {
  background-color: #03110D;
}

.hoverColorDB:hover {
  color: #03110D;
}

.colorDB {
  color: #03110D;
}

.fillDB {
  fill: #03110D;
}

.borderDB {
  border: 2px solid #03110D;
}

.hoverBgGray1:hover {
  background-color: #393939;
}

.bgGray1 {
  background-color: #393939;
}

.hoverColorGray1:hover {
  color: #393939;
}

.colorGray1 {
  color: #393939;
}

.fillGray1 {
  fill: #393939;
}

.borderGray1 {
  border: 2px solid #393939;
}

.btnPadding {
  padding: 14px;
}

.btnHalfPadding {
  padding: 7px;
}

.txtCenter {
  text-align: center;
}

.textUppercase {
  text-transform: uppercase;
}

.dN {
  display: none;
}

.dB {
  display: block;
}

.dIN {
  display: inline-block;
}

.dF {
  display: flex;
}

.dG {
  display: grid;
}

.relative {
  position: relative;
}

.maxContent {
  width: max-content;
}

.bdrs {
  border-radius: 4px;
}

.mt1 {
  margin-top: 0.5rem;
}

.mtL1 {
  margin-top: 30px;
}

.p1 {
  padding: 8px;
}

.ptL1 {
  padding-top: 30px;
}

.pbL1 {
  padding-bottom: 30px;
}

.mt2 {
  margin-top: 1rem;
}

.mtL2 {
  margin-top: 60px;
}

.p2 {
  padding: 16px;
}

.ptL2 {
  padding-top: 60px;
}

.pbL2 {
  padding-bottom: 60px;
}

.mt3 {
  margin-top: 1.5rem;
}

.mtL3 {
  margin-top: 90px;
}

.p3 {
  padding: 24px;
}

.ptL3 {
  padding-top: 90px;
}

.pbL3 {
  padding-bottom: 90px;
}

.mt4 {
  margin-top: 2rem;
}

.mtL4 {
  margin-top: 120px;
}

.p4 {
  padding: 32px;
}

.ptL4 {
  padding-top: 120px;
}

.pbL4 {
  padding-bottom: 120px;
}

.mt5 {
  margin-top: 2.5rem;
}

.mtL5 {
  margin-top: 150px;
}

.p5 {
  padding: 40px;
}

.ptL5 {
  padding-top: 150px;
}

.pbL5 {
  padding-bottom: 150px;
}

.mt6 {
  margin-top: 3rem;
}

.mtL6 {
  margin-top: 180px;
}

.p6 {
  padding: 48px;
}

.ptL6 {
  padding-top: 180px;
}

.pbL6 {
  padding-bottom: 180px;
}

.paragraphLH {
  line-height: 160%;
}

.subgrid {
  display: grid;
  grid-template-columns: subgrid;
}

.width100 {
  width: 100%;
}/*# sourceMappingURL=utils.module.css.map */